.itemDetail {
  text-decoration: none;
  width: 80%;
}

.itemName {
  font-size: 6vw;
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 3vw;
}

.itemImg {
  width: 98%;
  height: 60vw;
}

.itemInfo {
  color: black;
  text-decoration: none;
  font-size: 4vw;
  text-align: center;
}

.itemPrice {
  color: black;
  font-size: 5vw;
}

.itemCount {
  text-decoration: none;
}

@media (min-width: 800px) {
  .itemName {
    font-size: 4vw;
  }

  .itemImg {
    width: 50%;
    height: 30vw;
  }

  .itemInfo {
    font-size: 2.3vw;
  }

  .itemPrice {
    font-size: 3vw;
  }
}

@media (min-width: 1440px) {
  .itemDetail {
    width: 100%;
  }

  .itemName {
    font-size: 3vw;
  }

  .itemImg {
    width: 30%;
    height: 20vw;
  }

  .itemInfo {
    font-size: 1.5vw;
  }
}
