.orderItemsDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.orderItemsTexts {
  font-size: 4vw;
}

@media (min-width: 800px) {
  .orderItemsTexts {
    font-size: 2.3vw;
  }
}

@media (min-width: 1440px) {
  .orderItemsTexts {
    font-size: 1.3vw;
  }
}
