.itemDiv {
  border: 3px solid rgb(253 182 243);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemNameList {
  font-size: 2.4vw;
  text-align: center;
  color: black;
}

.itemImgList {
  width: 70%;
  height: 20vw;
}

.itemPrice {
  font-size: 1.5vw;
  margin: 1vw 0;
}

.detailsButton {
  border: 1px solid rgb(253 182 243);
  border-radius: 5px;
  padding: 1vw;
  font-weight: bold;
  margin-bottom: 1.5vw;
  cursor: pointer;
  width: 50%;
  font-size: 3vw;
}

.stockDiv {
  background-color: rgb(253 182 243);
  width: 50%;
  border-radius: 5px;
  margin-bottom: 1vw;
  padding: 1vw 0;
}

.stockText {
  font-size: 3vw;
  font-weight: 600;
  margin: 0;
}

.detailsButton:hover {
  background-color: rgb(253 182 243);
}

@media (min-width: 1440px) {
  .itemDiv {
    border: 4px solid rgb(253 182 243);
  }

  .itemNameList {
    font-size: 2.4vw;
    text-align: center;
    margin: 0.3vw;
  }

  .itemImgList {
    width: 60%;
    height: 15vw;
  }

  .detailsButton {
    border: 1px solid rgb(253 182 243);
    border-radius: 5px;
    padding: 1vw;
    font-weight: bold;
    margin-bottom: 1.5vw;
    cursor: pointer;
    width: auto;
  }

  .stockDiv {
    background-color: rgb(253 182 243);
    width: 30%;
    border-radius: 5px;
    margin-bottom: 1vw;
  }

  .stockText {
    font-size: 1.5vw;
    font-weight: 600;
  }

  .detailsButton:hover {
    background-color: rgb(253 182 243);
  }
}
