.itemDiv {
  border: 3px solid rgb(253 182 243);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.itemName {
  font-size: 2.4vw;
  text-align: center;
}

.itemImg {
  width: 30%;
  height: 10vw;
}

.itemPrice {
  font-size: 1.5vw;
  margin: 1vw 0;
}

.detailsButton {
  border: 1px solid rgb(253 182 243);
  border-radius: 5px;
  padding: 1vw;
  font-weight: bold;
  margin-bottom: 1.5vw;
  cursor: pointer;
}

.stockDiv {
  background-color: rgb(253 182 243);
  width: 25%;
  border-radius: 5px;
  margin-left: 37.5%;
  margin-bottom: 1vw;
}

.stockText {
  font-size: 2.3vw;
  font-weight: 600;
}

.detailsButton:hover {
  background-color: rgb(253 182 243);
}

@media (min-width: 1440px) {
  .itemDiv {
    border: 4px solid rgb(253 182 243);
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }

  .itemName {
    font-size: 2.4vw;
    text-align: center;
  }

  .itemImg {
    width: 30%;
    height: 10vw;
  }

  .itemPrice {
    font-size: 1.5vw;
  }

  .detailsButton {
    border: 1px solid rgb(255, 180, 192);
    border-radius: 5px;
    padding: 1vw;
    font-weight: bold;
    margin-bottom: 1.5vw;
    cursor: pointer;
  }

  .stockDiv {
    background-color: rgb(255, 180, 192);
    width: 20%;
    border-radius: 5px;
    margin-left: 40%;
    margin-bottom: 1vw;
  }

  .stockText {
    font-size: 1vw;
    font-weight: 600;
  }

  .detailsButton:hover {
    background-color: rgb(255, 180, 192);
  }
}
