.cartSummary {
  background-color: rgb(95, 158, 160);
  width: 30%;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 5px;
}

.finishOrder {
  border: none;
  border-radius: 5px;
  background-color: rgb(197, 227, 228);
  padding: 1vw;
  margin-bottom: 1vw;
  font-size: 1.5vw;
  font-weight: 700;
}

.outlinedBasic {
  margin: 1vw 0;
}
